.nav {
  width: 100%;
  // height: 50px;
  margin-inline: 0;
  font-family: "Montagu Slab", serif;
  font-size: 30px;

  &__list {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    color: white;
    transition: color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: color;
  }
  &__item:hover {
    color: gold;
    text-shadow: 8px 1px 18px #99407e;
  }
  &__item--logo {
    flex-shrink: 2;
  }

  &__button {
    width: 420px;
    height: 60px;
    background-color: #1b7b7b;
    border: 1px solid gold;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &__button:hover {
    box-shadow: 4px 19px 33px 7px rgba(93, 97, 77, 0.85);
  }
}
