.screen {
  height: 1400px;
  width: 100%;

  // background-color: rgba(255, 200, 221, 0.579);
  // background-image: url(../images/background.jpg);
  background-image: linear-gradient(
      90deg,
      rgba(6, 53, 53, 0.8) 100%,
      rgba(94, 94, 94, 0.5) 100%
    ),
    url(../images/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 0;
  display: flex;
  position: relative;
  // background-position: center;
  // background-size: cover;
  // &__title {
  //   color: #10002b;
  //   font-size: 50px;
  //   text-align: center;
  //   font-family: "La Belle Aurore", cursive;
  //   margin: auto;
  //   text-shadow: 8px 1px 18px rgba(78, 47, 82, 0.6);
  // }
  &__img {
    position: absolute;
    left: 25%;
    top: 25%;
    margin-inline: 100px;
  }
  &__title {
    font-family: "Rye", cursive;
    color: gold;
    font-size: 70px;
    line-height: 48px;
    position: absolute;
    top: 50%;
    left: 8%;
  }
  &__button {
    background-color: white;
    width: 273px;
    height: 97px;
    border: 1px solid gold;
    font-size: 30px;
    color: black;
    font-family: "Montagu Slab", serif;
    font-weight: 600;
    position: absolute;
    top: 53%;
    right: 8%;
    cursor: pointer;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &__button:hover {
    box-shadow: 4px 19px 33px 7px rgba(93, 97, 77, 0.85);
  }
}
